body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
}

body.redirect {
    background-image: url(../images/B&W_Logo_Faded.jpg);
    display: block;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-clip: fixed;
    background-size: contain;
    height: 95%;
    overflow: hidden;
    position: fixed;
}

div.redirect {
    text-align: center;
    vertical-align: middle;
    font: normal normal normal 7vmin Helvetica, serif;
    backdrop-filter: blur(5px);
    background-color: rgb(255,255,255,0.1);
    height: 10vh;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 44vh;
    padding-bottom: 56vh;
}

a.top-btn {
    color: white;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 2px;
    padding: 10px;
    background-color: #c31c1c;
    
}

a.top-btn:hover {
    background-color:#c93f3f;
}

hr.rule {
    border: 0;
    border-top: 3.5px solid #c21b1b;
    height: 2px;
    width: 98%;
}
.header {
    height: 10%;
    width: 100%;
    height: max-content;
    vertical-align:middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font: normal normal normal 4rem "Slab Serif", "Times New Roman", Times, serif;
}
.header > *{
    flex-basis: 10%;
    text-align: center;
}
.header .title {
    align-self: center;
}

.header .logo {
    content: url(../images/Colour_Logo_no-bg.png);
    width: 10%; /* For reasons inexplicable, *width* controls size (including height)*/
    align-self: center;
}

.content {
    background-image: url(../images/B&W_Logo_Faded.jpg);
    background-size: 95%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    min-height: 75%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font: normal normal normal 1.5rem Helvetica, sans-serif;
}

.content .block {
    width: 75%;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid slategray;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.content .block.half {
    width: 35%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    align-self: stretch;
    align-content: space-between;
}

.content .block > * {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.content .block h1 {
    padding-bottom: 0;
}

.content .block h1 + p {
    padding-top: 0;
}

.content .block + h1 {
    padding-top: 0;
}

.content .block img {/* Image content */
    align-self: center;
    justify-self: center;
    max-width: 70%;
    max-height: 70%;
    padding-top: 5%;
    padding-bottom: 5%;
}  

.content .block img:only-child {
    max-width: 90%;
    max-height: 90%;
}

.content .block table {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content .block table.contact * th{
    text-align: right;
    width: fit-content;
}
.content .block table.contact * td{
    text-align: left;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    width: 100%;
    font: normal normal normal 1rem "Slab Serif", "Times New Roman", serif;
}

