:root {
    --title-font: "Slab Serif", "Times New Roman", Times, serif;
    --body-font: Helvetica, sans-serif;

    --title-size: 2vw
    --body-size: 1.5vw
    --footer-size: 0.5vw
}

.header {
    height: 10%;
    width: 100%;
    height: max-content;
    vertical-align:middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header > *{
    flex-basis: 10%;
    text-align: center;
}
.header .title {
    font: normal normal normal var(--title-size) var(--title-font);
    align-self: center;
}

.header .logo {
    content: url(../images/Colour_Logo_no-bg.png);
    width: 10%; /* For reasons inexplicable, *width* controls size (including height)*/
    align-self: center;
}

.content {
    background-image: url(../images/B&W_Logo_Faded.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.content .block {
    width: 80%;
    padding-left: 10%;
    padding-top: 20px;
    padding-right: 10%;
    padding-bottom: 20px;
    background-color: white;
    background-clip: content-box;
    display: flex;
    flex-flow: column nowrap;
}

.content img.block {
    background-clip: border-box;
    width: 75%;
    padding: 2.5%;
}

.content .block.half {
    width: 35%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    align-self: stretch;
    align-content: space-between;
}

.content .block p {/* Actual text content (wrapped in <p> tags) */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    font: normal normal normal var(--body-size) var(--body-font);
}

.content .block img {/* Image content */
    align-self: center;
    max-width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.footer {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    font: normal normal normal var(--footer-size) "Slab Serif", "Times New Roman", serif;
}
 


