.header {
    height: 10%;
    width: 100%;
    height: max-content;
    vertical-align:middle;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font: normal normal normal 4rem "Slab Serif", "Times New Roman", Times, serif;
}
.header > *{
    flex-basis: 10%;
    text-align: center;
}
.header .title {
    
    align-self: center;
}

.header .logo {
    content: url(../images/Colour_Logo_no-bg.png);
    width: 10%; /* For reasons inexplicable, *width* controls size (including height)*/
    align-self: center;
}

.content {
    background-image: url(../images/B&W_Logo_Faded.jpg);
    background-size: 95%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font: normal normal normal 1.5rem Helvetica, sans-serif;
}

.content .block {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    background-clip: content-box;
    display: flex;
    flex-flow: column nowrap;
}

.content .block.half {
    width: 35%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    align-self: stretch;
    align-content: space-between;
}

.content .block p {/* Actual text content (wrapped in <p> tags) */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

.content .block img {/* Image content */
    align-self: center;
    max-width: 90%;
    max-height: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer {
    display: flex;
    justify-content: space-around;
    height: 10%;
    width: 100%;
    font: normal normal normal 1rem "Slab Serif", "Times New Roman", serif;
}
 


